flask
biopython
wtforms
werkzeug
flask_wtf
werkzeug
google-cloud-storage
viennarna
numpy
scipy
matplotlib
pandas
jupyterlab
wget
curl
unzip
gnupg
build-essential
libcurl4-openssl-dev
libssl-dev
libbz2-dev
liblzma-dev
zlib1g-dev
libncurses5-dev
libsqlite3-dev
libreadline-dev
libffi-dev
apt-transport-https
ca-certificates
