
<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
    <a class="navbar-brand" href="#">ToREC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user_data_getter') }}">ToREC Tool</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('guide') }}">User Guide</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=https://2024.igem.wiki/tau-israel/software>Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=https://pypi.org/project/toegen/>PyPi Package</a>
            </li>
        </ul>
    </div>
</nav>
